body{
    font-family: arial;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    margin: 10px;
    display: inline-block;
}

button {
    padding: 5px 10px;
}