/* general styles */

body{
    font-family: arial ,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;

}
/* header styles */
header{
    background-color: #4caf50;
    color: white;
    padding:15px 0;
    text-align: center;
}
header h1{
    margin: 0;
}
/* nav styles */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;

}
nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color : white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
}

/* cards styles */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card{
    background-color: white;
    padding: 40px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.card a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.card a:hover{
    background-color: #e0f2e9;
    transform: translateY(-5px);
}


/* footer styles */
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding : 15px 0;
    margin-top: 20px;
}

/* table styles */
table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table ,th,td {
    border: 1px solid #ccc;
}
th,td{
    padding:10px;
    text-align: center;
}

th{
    background-color: #4caf50;
    color: white;
}

/* form styles */
form{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

form input, form select{
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button{
    padding: 10px;
    margin: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}